@use "../core/variables" as vars;

.form-content {
  grid-area: form-content;
  background-color: vars.$color_beige;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-top: 1px solid vars.$color_ink;
  @media (min-width: vars.$tablet-bp) {
    border-right: 1px solid vars.$color_ink;
    border-top: none;

  }
  &__subtitle{
    font-size: 3rem;
    text-align: center;
    font-family: vars.$font_printwriter;
    padding-top: 2rem;
    color: vars.$color_secondary;
     @media (min-width: vars.$tablet-bp) {
      font-size: 4rem;
      padding-block: 6rem;
     }
    }
}
