@use "../core/variables" as var;

.preview{
  background-color: var.$color_background;
  grid-area: preview;
  padding-block: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__article{
    width: 60%;
    background-color: var.$color_grey;
    box-shadow: 0 10px 20px rgba(var.$color_ink, 0.6);
    border-radius: 5px;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
     @media (min-width: var.$tablet-bp) {
      margin: auto;
  }
    &--info{
      font-family: var.$font_printwriter;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem 1.5rem;
    }
    &--title --subtitle{
      font-family: var.$font_handwriter;
    }
    &--containerImg{
      border: 1px solid var.$color_primary;
      border-radius: 3px;
    }
    &--text{
      font-family: var.$font_printwriter;
      text-align: justify;
    }
  }

}