@use "../core/variables" as var;
@use "../core/mixins" as mix;

.preview {
  width: 100%;
  background-color: var.$color_background;
  grid-area: preview;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__article {
   @include mix.default();
   &.type-sensacionalist{
    @include mix.sensationalist();
   }
   &.type-economist{
    @include mix.economist();
   }
   &.type-generalist{
    @include mix.generalist();
   }
  }
}

.preview-btn-resert{
  background-color: var.$color_primary;
  color: var.$color_ink;
  border-radius: 10%;
  font-family: var.$font_printwriter;
  font-size: 1rem;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}
.preview-btn-resert:hover{
  background-color: var.$color_grey;
}