@use "../core/variables" as var;

@mixin default() {
  width: 80%;
  max-width: 300px;
  background-color: var.$color_background;
  box-shadow: 0 10px 20px rgba(var.$color_ink, 0.6);
  border-radius: 5px;
  padding: 3rem;
  @media (min-width: var.$tablet-bp) {
    margin: auto;
  }
  &--div {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-template-areas:
      "info"
      "title"
      "subtitle"
      "img"
      "text";
    background-color: #d6d6d6;
    padding: 2rem;
    &--info {
      grid-area: info;
      font-family: var.$font_printwriter;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-around;
      &--number {
        text-align: right;
      }
    }
    &--title {
      grid-area: title;
      font-family: var.$font_handwriter;
      padding-top: 2rem;
      padding-bottom: 0.5rem;
      font-size: 3rem;
      text-align: center;
    }
    &--subtitle {
      grid-area: subtitle;
      font-family: var.$font_handwriter;
      font-size: 2rem;
      text-align: center;
    }
    &--containerImg {
      grid-area: img;
      width: 15rem;
      margin: 3rem auto;
      padding-block: 6rem;
      &--img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &--text {
      grid-area: text;
      font-family: var.$font_printwriter;
      text-align: justify;
    }
  }
}

@mixin sensationalist() {
  background-image: url("/images/background_sensacionalist.png");

  & .preview__article--div {
    border-radius: 2px;
    // box-shadow: 0 10px 20px rgba(var.$color_ink, 0.3);
    background-color: #f3f3f3;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "info title"
      "img img"
      "subtitle text";
  }

  & .preview__article--div--info {
    grid-template-columns: 1fr;
    font-family: var.$font_sensacionalist;
    z-index: 1;
  }
  & .preview__article--div--info--number {
    text-align: left;
  }
  & .preview__article--div--title {
    font-family: var.$font_sensacionalist;
    font-weight: 700;
    font-style: italic;
    padding-top: 0;
    color: #7e1cff;
    z-index: 1;
  }
  & .preview__article--div--subtitle {
    font-family: var.$font_sensacionalist;
    padding-bottom: 2rem;
    color: #ff9a47;
    z-index: 1;
    align-self: center;
  }
  & .preview__article--div--containerImg {
    width: 20rem;
    height: auto;
    z-index: 1;
  }

  & .preview__article--div--text {
    background-color: #ff9a47;
    font-family: var.$font_sensacionalist;
    padding: 0.5rem;
    z-index: 1;
  }
}

@mixin economist() {
  background-image: url("/images/background_economy.png");
  & .preview__article--div {
    background-color: #fcd9b8;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "info info"
      "title title"
      "img subtitle"
      "img text";
    gap: 1rem;
  }

  & .preview__article--div--info {
    grid-template-columns: 1fr 1fr;
    font-family: var.$font_economist;
    z-index: 1;
  }
  & .preview__article--div--info--number {
    text-align: right;
    padding-right: 1rem;
  }
  & .preview__article--div--title {
    padding-top: 1rem;
    font-family: var.$font_economist;
    font-weight: 700;
    padding-top: 0;
    color: var.$color_ink;
    z-index: 1;
  }
  & .preview__article--div--subtitle {
    font-family: var.$font_economist;
    color: var.$color_ink;
    z-index: 1;
  }
  & .preview__article--div--containerImg {
    width: 10rem;
    height: auto;
    z-index: 1;
  }
  & .preview__article--div--text {
    font-family: var.$font_economist;
    padding: 0.5rem;
    z-index: 1;
  }
}
@mixin generalist() {
  background-image: url("/images/background_generalist.png");
  & .preview__article--div {
    background-color: #e7e7e7;
  }
  & .preview__article--div--info {
    color: var.$color_secondary;
  }
  & .preview__article--div--title {
    color: var.$color_primary;
  }

  & .preview__article--div--containerImg {
    background-image: url("/images/img_preview_generalist.png");
  }
}
