/* COLORES */
$color_background: #f7f4ef;
$color_ink: #2b2b2b;
$color_grey: #838383;
$color_primary: #d64545;
$color_secondary: #324693;

/* FUENTES */
$font_handwriter: "Old Standard TT", serif;
$font_printwriter: "Special Elite", system-ui;
$font_sensacionalist: "Comic Neue", cursive;
$font_economist: 'Courier New', Courier, monospace;

/* BREAKPOINTS */
$mobile-bp: 320px;
$tablet-bp: 768px;
