<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="landing">
    <h1 class="landing__title">!EXTRA, EXTRA!</h1>
    <div class="landing__container--img"></div>
    <h2 class= "landing__subtitle">Inventa la noticia del año y publícala como si fuera portada real.</h2>
    <section class="landing__begin">
      <article class="landing__begin--article">
        <i class="fa-solid fa-compass-drafting"></i>
        <p class="landing__begin--text">Diseña</p>
      </article>
      <i class="fa-solid fa-arrow-down landing__begin--arrowDown"></i>
      <i class="fa-solid fa-arrow-right landing__begin--arrowRight"></i>
      <article class="landing__begin--article">
        <i class="fa-solid fa-pen-fancy "></i>
        <p class="landing__begin--text">Rellena</p>
      </article>
      <i class="fa-solid fa-arrow-down landing__begin--arrowDown"></i>
      <i class="fa-solid fa-arrow-right landing__begin--arrowRight"></i>
      <article class="landing__begin--article">
        <i class="fa-solid fa-share-nodes"></i>
        <p class="landing__begin--text">Comparte</p>
      </article>
    </section>
    <a class="landing__link" href="./form-page.html">CREA TU PORTADA</a>
    </main>
</body>
</html>