<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="landing">
    <h1 class="landing__title">!EXTRA EXTRA!</h1>
    <div class="landing__container--img"></div>
    <h2 class= "landing__subtitle">Inventa la noticia del año y publícala como si fuera portada real.</h2>
    <div class="begin">
      
    </div>
    <a class="landing__link" href="./form-page.html">COMENZAR</a>
    </main>
</body>
</html>