<section class="preview">
  <article class="preview__article type-generalist">
    <div class="preview__article--div">
    <div class="preview__article--div--info">
      <span class="preview__article--div--info--date">Fecha</span>
      <span class="preview__article--div--info--number">Nº de edición</span>
    </div>
    <h2 class="preview__article--div--title">Título</h2>
    <h3 class="preview__article--div--subtitle">Subtitulo</h3>
    <div class="preview__article--div--containerImg">
      <img src="/images/img_preview_generalist.png" alt="Imagen de ejemplo" class="preview__article--div--containerImg--img">
    </div>
    <p class="preview__article--div--text">
      Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Quia aperiam fuga tempore? Debitis quo necessitatibus tenetur
      laborum. Totam, eaque, sapiente dolor eum qui sint rem quo fuga, iste illo
      similique?
    </p>
    </div>
  </article>
</section>
