@use "../../core/variables" as *;

.designOptions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 1.5rem;   
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin: 0 auto;
  
}

/*.hidden {
  display: none;
}*/

.titleDesign {
  flex-shrink: 0;
  margin: 0;
  padding-top: 2rem;
  font-family: $font_printwriter;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: auto;
  cursor: pointer;
}

.icon-design {
  margin-right: 1rem;
  color: #d64545;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding-bottom: 2rem;
}

label {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.option-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.option-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  font-family: $font_printwriter;
}

.magazineColors {
  display: flex;
}

.magazineColor1,
.magazineColor2,
.magazineColor3,
.economyColor1,
.economyColor2,
.economyColor3,
.newspaperColor1,
.newspaperColor2,
.newspaperColor3 {
  width: 1.2rem;
  height: 1.2rem;
}

.magazineColor1 {
  background-color: pink;
}

.magazineColor2 {
  background-color: #ffd700;
}

.magazineColor3 {
  background-color: #ff69b4;
}

.economyColors {
  display: flex;
}

.economyColor1 {
  background-color: salmon;
}

.economyColor2 {
  background-color: orange;
}

.economyColor3 {
  background-color: $color_grey;
}

.newspaperColors {
  display: flex;
}

.newspaperColor1 {
  background-color: rgb(236, 224, 224);
}

.newspaperColor2 {
  background-color: $color_secondary;
}

.newspaperColor3 {
  background-color: $color_grey;
}

@media (min-width: 768px) {
  .titleDesign {
    font-size: 3rem;
  }

  .option-title {
    font-size: 2rem;
  }

  .form-section {
    padding: 2rem;
  }

  .magazineColor1,
  .magazineColor2,
  .magazineColor3,
  .economyColor1,
  .economyColor2,
  .economyColor3,
  .newspaperColor1,
  .newspaperColor2,
  .newspaperColor3 {
    width: 2.4rem;
    height: 2.4rem;
  }
}
