@use "../../core/variables" as *;

.designOptions {
  display: flex;
  flex-direction: column;   
  padding-bottom: 1.5rem;
}

.design-form-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  margin-left: 1.25rem;  
}

/*.hidden {
  display: none;
}*/

.titleDesign {
  flex-shrink: 0;
  margin: 0;
  padding-top: 2rem;
  font-family: $font_printwriter;
  text-transform: uppercase;
  font-size: 2rem;  
  margin-left: 1.25rem;  
  cursor: pointer;
}

.icon-design {
  margin-right: 1rem;
  color: #d64545;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;  
}

label {
  display: flex;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.option-content {
  display: flex;
  flex-direction: row;    
}

.option-title {
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  font-family: $font_printwriter;
   width: 16rem;
  flex-shrink: 0;
}

.magazineColors,
.economyColors,
.newspaperColors {
  display: flex;  
}

.magazineColor1,
.magazineColor2,
.magazineColor3,
.economyColor1,
.economyColor2,
.economyColor3,
.newspaperColor1,
.newspaperColor2,
.newspaperColor3 {  
  width: 1.2rem;
  height: 1.2rem; 
}

.magazineColor {
  &1 {
    background-color: pink;
  }

  &2 {
    background-color: #ffd700;
  }

  &3 {
    background-color: #ff69b4;
  }
}

.economyColor {
  &1 {
    background-color: salmon;
  }

  &2 {
    background-color: orange;
  }

  &3 {
    background-color: $color_grey;
  }
}

.newspaperColor {
  &1 {
    background-color: rgb(236, 224, 224);
  }

  &2 {
    background-color: $color_secondary;
  }

  &3 {
    background-color: $color_grey;
  }
}

@media (min-width: 768px) {
  .titleDesign {
    font-size: 3rem;
    padding-top: 3rem;
  }

  .option-title {
    font-size: 2rem;
    width: 25rem;
  }

  .form-section {
    padding: 2rem;
  }

  .magazineColor1,
  .magazineColor2,
  .magazineColor3,
  .economyColor1,
  .economyColor2,
  .economyColor3,
  .newspaperColor1,
  .newspaperColor2,
  .newspaperColor3 {
    width: 2.4rem;
    height: 2.4rem;
  }
}
