@use "../../core/variables" as vars;

.share {
  &-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
    padding: 20px;
  }
  &-button {
    background-color: vars.$color_grey;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    background-color: vars.$color_secondary;
    color: vars.$color_backgorund;
    font-family: vars.$font_handwriter;
    box-shadow: 0 18px 7cqmin rgba(vars.$color_ink, 0.8);
    border-radius: 5px;
    padding: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  &-button-icon {
    height: 20px;
  }
  &-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 1px solid vars.$color_grey;
    border-bottom: 1px solid vars.$color_grey;
    width: 100%;
  }
}
