@use "../../core/variables" as vars;

.separator {
  border: 0.3rem solid vars.$color_secondary;
}
.share {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center; /* Center alignment for mobile */
  font-family: vars.$font_printwriter;

  &-title {
    font-size: 1.5rem;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 20px;
  }
  &-button {
    background-color: vars.$color_grey;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    background-color: vars.$color_secondary;
    color: vars.$color_background;
    font-family: vars.$font_printwriter;
    border-radius: 5px;
    border: none;
    padding: 1.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    align-self: center;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &-button-icon {
    height: 20px;
  }
  &-nodes-icon {
    height: 15px;
  }
  &-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-top: 1px solid vars.$color_grey;
    border-bottom: 1px solid vars.$color_grey;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  &-twitter-button {
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 200px;
    height: 40px;
    align-items: center;
    font-size: 1.5rem;
    background-color: vars.$color_primary;
    color: vars.$color_background;
    font-family: vars.$font_printwriter;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      background-color: darken(vars.$color_primary, 10%);
    }

    &:active {
      transform: scale(0.95);
    }
  }

  &-twitter-icon {
    height: 20px;
  }
  &-twiter-title {
    font-size: 1.5rem;
  }
}
.collapsed {
  display: none;
}

@media (min-width: 768px) {
  .share-title {
    font-size: 3rem;
  }
  .share-twitter-title {
    font-size: 2rem;
  }
  .share-nodes-icon {
    height: 25px;
  }
  .share-form {
    align-items: left;
  }
  .share {
    align-items: left;
    justify-content: left;
  }
}
