<section class="designOptions">
  <h1 class="titleDesign">¿Dónde vas a publicar tu noticia?</h1>
  <div class="form-section">
    <h2 class="subtitleDesign">Diseña tu portada:</h2>

    <form class="form">
      <div class="formContainer">
        <div class="magazine">
          <label for="magazineDesign">
            <input
              id="magazineDesign"
              type="radio"
              value="magazineDesign"
              name="newsDesign" />
            <div class="option-content">
              <span class="option-title">Revista del corazón</span>
              <div class="magazineColors">
                <div class="magazineColor1"></div>
                <div class="magazineColor2"></div>
                <div class="magazineColor3"></div>
              </div>
            </div>
          </label>
        </div>

        <div class="economy">
          <label for="economyDesign">
            <input
              id="economyDesign"
              type="radio"
              value="economyDesign"
              name="newsDesign" />
            <div class="option-content">
              <span class="option-title">Diario económico</span>
              <div class="economyColors">
                <div class="economyColor1"></div>
                <div class="economyColor2"></div>
                <div class="economyColor3"></div>
              </div>
            </div>
          </label>
        </div>

        <div class="newspaper">
          <label for="newspaperDesign">
            <input
              id="newspaperDesign"
              type="radio"
              value="newspaperDesign"
              name="newsDesign" />
            <div class="option-content">
              <span class="option-title">Periódico</span>
              <div class="newspaperColors">
                <div class="newspaperColor1"></div>
                <div class="newspaperColor2"></div>
                <div class="newspaperColor3"></div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </section>
