<section class="designOptions">
  <div class="design-form-section">
    <h2 class="titleDesign">
      <button class="designButton js_design_button" type="button">
        <i class="fas fa-compass-drafting icon-design"></i>Diseña
      </button>
    </h2>
  </div>

  <div class="js_design_form collapsed">
    <article class="form">
      <div class="formContainer">
        <div class="magazine">
          <label for="magazineDesign">
            <input
              id="magazineDesign"
              type="radio"
              value="magazineDesign"
              name="newsDesign"
            />
            <div class="option-content">
              <span class="option-title">Revista del corazón</span>
              <div class="magazineColors">
                <div class="magazineColor1"></div>
                <div class="magazineColor2"></div>
                <div class="magazineColor3"></div>
              </div>
            </div>
          </label>
        </div>

        <div class="economy">
          <label for="economyDesign">
            <input
              id="economyDesign"
              type="radio"
              value="economyDesign"
              name="newsDesign"
            />
            <div class="option-content">
              <span class="option-title">Diario económico</span>
              <div class="economyColors">
                <div class="economyColor1"></div>
                <div class="economyColor2"></div>
                <div class="economyColor3"></div>
              </div>
            </div>
          </label>
        </div>

        <div class="newspaper">
          <label for="newspaperDesign">
            <input
              id="newspaperDesign"
              type="radio"
              value="newspaperDesign"
              name="newsDesign"
            />
            <div class="option-content">
              <span class="option-title">Periódico</span>
              <div class="newspaperColors">
                <div class="newspaperColor1"></div>
                <div class="newspaperColor2"></div>
                <div class="newspaperColor3"></div>
              </div>
            </div>
          </label>
        </div>
      </div>
    </article>
  </div>
</section>
