<section class="fillOptions">
  <div class="titleFillForm">
    <h2 class="titleFill">
      <button class="fillButton js-fill-button" type="button">
        <i class="fas fa-pen-fancy icon-design-fil"></i>Rellena
      </button>
    </h2>
  </div>

  <div class="js-form-section section-fill collapsed">
    <form class="form-section-fill">
      <div class="newsHeadlineFill">
        <label class="newsHeadline" for="newsHeadline">Título</label>
        <input
          class="placeHolderText"
          placeholder="Escribe aquí..."
          id="newsHeadline"
          type="text"
          name="newsHeadline"
          maxlength="50"
        />
      </div>

      <div class="newsSubtitleFill">
        <label class="newsSubtitle" for="newsSubtitle">Subtítulo</label>
        <input
          class="placeHolderText"
          placeholder="Escribe aquí..."
          id="newsSubtitle"
          type="text"
          name="newsSubtitle"
          maxlength="50"
        />
      </div>

      <div>
        <label class="newsDescription" for="newsDescription">Texto:</label>
        <textarea
          id="message"
          name="message"
          rows="6"
          cols="34"
          class="placeHolderText"
          placeholder="Escribe tu noticia aquí..."
          maxlength="260"
        ></textarea>
      </div>

      <div class="imageContainer">
        <label class="filePhoto" for="file">Elige una foto:</label>
        <input type="file" class="file-fill" id="file" name="file" />
      </div>

      <div class="publicationDateFill">
        <label class="publicationDate" for="publicationDate"
          >Fecha de publicación:</label
        >
        <input
          class="placeHolderText"
          type="date"
          id="publicationDate"
          name="publicationDate"
          required
        />
      </div>

      <div class="publicationNumberFill">
        <label class="publicationNumber" for="publicationNumber"
          >Número de edición:</label
        >
        <select
          class="placeHolderText"
          id="publicationNumber"
          name="publicationNumber"
        >
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
    </form>
  </div>
</section>
