<details class="share-form">
  <summary class="share">
    <i class="fa-solid fa-share-nodes" style="color: #d64545"></i>
    <h2>COMPARTE</h2>
  </summary>
  <button class="share-button">
    <i class="fa-solid fa-address-card" style="background-color: #324693"></i>
    <h2>CREAR TARJETA</h2>
  </button>
  <div>
    <h2>La tarjeta ha sido creada:</h2>
    <div class="share-twitter">
      <button class="twitter-button">
        <i class="fa-brands fa-twitter" style="color: white"></i>
        <p>Compartir en twitter</p>
      </button>
    </div>
  </div>
</details>
