<div class="share-form">
  <div class="share">
    <i
      class="fa-solid fa-share-nodes share-nodes-icon"
      style="color: #d64545"
    ></i>
    <h2>COMPARTE</h2>
  </div>
  <button class="share-button">
    <i
      class="fa-solid fa-address-card share-button-icon"
      style="background-color: #324693"
    ></i>
    <h2>CREA TU PERIÓDICO</h2>
  </button>
  <div class="share-card">
    <h2>Tu periódico ha sido creado:</h2>
    <a class="share-link" href=""></a>
    <button class="share-twitter-button">
      <i
        class="fa-brands fa-twitter share-twitter-icon"
        style="color: white"
      ></i>
      <p>Compartir en twitter</p>
    </button>
  </div>
</div>
